#cloud-config

users:
  - default
  - name: {{ vmuser }}
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
    - {{ public_key }}

package_update: true
package_upgrade: true
package_reboot_if_required: true

packages:
  - git
  - ansible



